<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>La palabra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="big">La palabra del día</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input [(ngModel)]="jugador" label="" placeholder="Mi nombre es..."></ion-input>

  <ion-button id="easy" (click)="selectDiff($event)" expand="block" color="success" [disabled]="jugador.length<3">Fácil <ion-icon name="happy-outline" slot="end"></ion-icon></ion-button>
  <ion-button id="normal" (click)="selectDiff($event)" expand="block" color="primary" [disabled]="jugador.length<3">Normal <ion-icon name="sad-outline" slot="end"></ion-icon></ion-button>
  <ion-button id="hard" (click)="selectDiff($event)" expand="block" color="danger" [disabled]="jugador.length<3">Díficil <ion-icon name="skull-outline" slot="end"></ion-icon></ion-button>

</ion-content>
